<div class="navbar">
  <div>
    <a href="/umbrella">
      Umbrella
    </a>
  </div>

  <div>
    <a href="/message">
      Single AI message
    </a>
  </div>

  <div>
    <a href="/chat">
      AI Chat
    </a>
  </div>
</div>

Welcome to Omnicalc 3
